.DS_Store
Thumbs.db
.idea/
*.swp
.phpstan-cache/

/vendor/
/local/vendor/
/node_modules/
Makefile

/bitrix/*
!/bitrix/.gitkeep
.htaccess

/upload/*
!/upload/.gitkeep

/local/logs/*
!/local/logs/.gitkeep
local/php_interface/events_debug.log
*.log

/backups/*
!/backups/.gitkeep
/*.sql

/docker/database/data/
/docker/nginx/*.conf
/local/modules/
.env
.env.local
/local/php_interface/dbconn.php
/local/php_interface/.settings.php

/docker/mailpit/data/*
!/docker/mailpit/data/.gitkeep

/docker-compose*.yml
!/docker-compose*.example*.yml
