parameters:
    level: 6

    parallel:
        maximumNumberOfProcesses: 2
        processTimeout: 300.0 

    paths:
        - local/app
        - local/migrations
        - local/php_interface

    excludePaths:
        - local/php_interface/migration_template.php

    scanDirectories:
        - bitrix/modules/main/lib
        - bitrix/modules/iblock/lib     
        - local/modules/sprint.migration
        - bitrix/modules/main/classes/general
        - bitrix/modules/iblock/classes/general
        - bitrix/modules/highloadblock/lib
        - bitrix/modules/fileman/classes/general

    scanFiles:
        - bitrix/modules/orm_annotations.php

    ignoreErrors:
        - identifier: missingType.iterableValue
        - identifier: missingType.generics
        - identifier: notIdentical.alwaysFalse
        - identifier: class-not-imported
        - identifier: nullsafe.neverNull
        - '#has no return type specified#'
        - '#has no type specified#'
        - '#Access to an undefined property Bitrix\\Iblock\\Elements\\#'
        - '#Call to an undefined method .*\\Elements\\.*::wakeUp#'
        - '#Call to an undefined method .*\\EO_.*::getList#'
        - '#Call to an undefined method Bitrix\\Main\\ORM\\Entity::getDataClass\(\)#'
        - '#Call to method .* on an unknown class Bitrix\\Iblock\\EO_PropertyEnumeration#'
        - '#Call to method .* on an unknown class Bitrix\\Iblock\\Elements\\#'
        - '#unknown class Bitrix\\Iblock\\EO_PropertyEnumeration#'
        - '#unknown class Bitrix\\Iblock\\Elements\\#'
        - '#unknown class Bitrix\\(Iblock|Main|.*)\\EO_.*_Result#'
        - '#Call to method .* on an unknown class Bitrix\\(Iblock|Main|.*)\\EO_.*_Result#'
        - '#Class .*EntityDataClass.* not found#'
        - '#Class .*IblockEntity.* not found#'
        - '#unknown class CIBlockElement#'
        - '#Call to static method .* on an unknown class CIBlockElement#'
        - '#unknown class CFileMan#'
        - '#Call to static method .* on an unknown class CFileMan#'

    reportUnmatchedIgnoredErrors: false
    treatPhpDocTypesAsCertain: false
    
    tmpDir: .phpstan-cache
