[mysqld]
# Bitrix
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci
innodb_default_row_format = DYNAMIC 
# sql_mode = 'NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION'
sql_mode = "" 
innodb_strict_mode = OFF
max_allowed_packet = 128M
default-time-zone = '+03:00'
init_connect='SET group_concat_max_len = 1000000'

# InnoDB
innodb_buffer_pool_size = 512M
innodb_buffer_pool_instances = 2
innodb_log_file_size = 128M
innodb_log_buffer_size = 32M
innodb_flush_log_at_trx_commit = 1
sync_binlog = 1
innodb_flush_method = O_DIRECT
innodb_doublewrite = 1
innodb_file_per_table = 1
# Memory
tmp_table_size = 128M
max_heap_table_size = 128M
table_open_cache = 4000
table_definition_cache = 4000
thread_cache_size = 64
max_connections = 150

# Logs
slow_query_log = 1
slow_query_log_file = /var/log/mysql/slow.log
long_query_time = 2
log_error = /var/log/mysql/error.log
binlog_expire_logs_seconds = 604800

# Other
query_cache_type = 0
log_queries_not_using_indexes = 0
